@font-face {
  font-family: "iconfont"; /* Project id 2697312 */
  src: url('iconfont.woff2?t=1627630332248') format('woff2'),
       url('iconfont.woff?t=1627630332248') format('woff'),
       url('iconfont.ttf?t=1627630332248') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijian:before {
  content: "\e64a";
}

.icon-yaowu:before {
  content: "\e603";
}

.icon-huahui-:before {
  content: "\e611";
}

.icon-gouwuchexuanzhong:before {
  content: "\e604";
}

.icon-tengtonghuli:before {
  content: "\e66c";
}

.icon-tuijian1:before {
  content: "\e6f8";
}

.icon-lianxi:before {
  content: "\e605";
}

.icon-zu:before {
  content: "\e612";
}

.icon-lianxi1:before {
  content: "\e70b";
}

.icon-ganmaoyaowu:before {
  content: "\e606";
}

.icon-yaowu1:before {
  content: "\e646";
}

.icon-yiliaoicon_huaban1fuben5:before {
  content: "\e613";
}

.icon-xiaoyan:before {
  content: "\e819";
}

.icon-zhifu:before {
  content: "\e6fa";
}

.icon-gouwuche:before {
  content: "\e7bf";
}

.icon-tengtongke:before {
  content: "\e683";
}

.icon-tuijian2:before {
  content: "\e6fc";
}

.icon-zhifu1:before {
  content: "\e614";
}

.icon-zhifu2:before {
  content: "\e607";
}

.icon-waishang:before {
  content: "\e69b";
}

.icon-ic_ganmaozhishu:before {
  content: "\e60d";
}

.icon-mianshi:before {
  content: "\f33d";
}

.icon-shangwutubiao-:before {
  content: "\e660";
}

.icon-shoujizhifu:before {
  content: "\e693";
}

.icon-shoujizhifumima:before {
  content: "\e691";
}

.icon-shangpin:before {
  content: "\e62a";
}

.icon-shoujizhifu1:before {
  content: "\e639";
}

.icon-shangpin1:before {
  content: "\e644";
}

.icon-kinds-copy:before {
  content: "\e600";
}

.icon-dianhua1:before {
  content: "\e601";
}

.icon-ShoppingCartIcon:before {
  content: "\e602";
}

.icon-a-zu1944:before {
  content: "\e649";
}

